<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>main</title>
        <script type="text/javascript" src="__PUBLIC__/jquery.min.js">
        </script>
        <script type="text/javascript" src="__PUBLIC__/jquery.easyui.min.js">
        </script>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/themes/icon.css" />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css"/>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/themes/bootstrap/easyui.css">
        <script type="text/javascript" src="__PUBLIC__/locale/easyui-lang-zh_CN.js"> </script>
        <script type="text/javascript" src="__PUBLIC__/js/main.js"></script>
		<style type="text/css">
		body{
			font-size:16px;
		}
        </style>
    </head>
    <body>
    	<script>
    		var province;
			var city;
			var district;
			var region;
			var result;
			var get_region = function(obj,pid,rid,init){
			if(pid>3){
				return false;
			}
			$.ajax({
				type:"get",
				dataType:"json",
				url:"admin.php?c=index&a=region",
				data:"type_id="+pid+"&region_id="+rid,
				success:function(result){
					if(pid==1)
					var option = '<option value="">请选择省份</option>';
					else if(pid==2)
						var option = '<option value="">请选择城市</option>';
					else if(pid==3)
						var option = '<option value="">请选择地区</option>';
					if(typeof(result)!='undefined' && result!=null){
						op_len = result.length; 
						for(var i=0;i<op_len;i++){
							if(obj.attr('rel')!=null&&result[i].region_id==obj.attr('rel')){
								option += '<option value="'+result[i].region_id+'" selected>'+result[i].region_name+'</option>';
							}else{
								option += '<option value="'+result[i].region_id+'">'+result[i].region_name+'</option>';
							}
						}
					}else{
						var def =$("#city").find("option:selected").text();
						option = '<option value="" rel=""  style="width:60px;">'+def+'</option>';
					}
					obj.html(option);
					//获取选中的值
					if(pid==1){
						province = obj.children('option:selected').text();
					}else if(pid==2){
						city = obj.children('option:selected').text();
					}else if(pid==3){
						district = obj.children('option:selected').text();
						region = province +' '+ city +' '+ district;
						$("#region").val(region);
					}
					if(init==true){
						if(pid==1)
							get_region($("#city"),2,$("#province").children("option:selected").val(),true);
						else if(pid=2){
							get_region($("#district"),3,$("#city").children("option:selected").val());
						}
					}
				},
				error:function(msg){
					//alert('error');
				}
				
			});
		}
		get_region($("#province"),1,1,true);
		$("#province").change(function(){
			get_region($("#city"),2,$("#province").val());
			province 	= $(this).children('option:selected').text();
			$("#district").html('<option value="">请选择地区</option>');
			$("#region").val('');
		});
		$("#city").change(function(){
			get_region($("#district"),3,$("#city").val());
			city 	= $(this).children('option:selected').text();
			$("#region").val('');
		});
		$("#district").change(function(){
			district = $(this).children('option:selected').text();
			region = province +' '+ city +' '+ district;
			$("#region").val(region);
		});
    	</script>
    	<form id="ff" class="easyui-form"  method="post" data-options="novalidate:true">
          <table cellpadding="6">
          	<tr >
            	<td align="right">用户名:</td>
                <td>
                   	<input value="{$users.user_name}" class="easyui-textbox" type="text" name="user_name" style="width:100%;height:30px;font-size: 16px;" data-options="required:true"></input>
                </td>
            </tr>
          	<tr >
            	<td align="right">昵称:</td>
                <td>
                   	<input value="{$users.nick_name}" class="easyui-textbox" type="text" name="nick_name" style="width:100%;height:30px;font-size: 16px;" data-options="required:true"></input>
                </td>
            </tr>
            <tr>
            <td align="right"> Email: </td>
                <td> 
                    <input value="{$users.email}" class="easyui-textbox" type="text" name="email" data-options="required:true,validType:'email'"></input>
                </td>
            </tr>
            <tr>
                <td align="right"> mobile:</td>
                <td>
                    <input value="{$users.mobile}"  class="easyui-textbox" type="text" name="mobile" data-options="required:true">
                    </input>
                </td>
            </tr>
      		<tr>
                <td align="right">出生日期: </td>
                <td>
                    <input value="{$users.birthday}" class="easyui-datebox" required style="width:200px" name="birthday">
                </td>
            </tr>
            <tr>
                <td align="right"> 所在地: </td>
                <td>
                	<select class="select" name="province" id="province" rel="{$users.province}">
		            <option>请选择省份</option>
			        </select>
			        <select class="select" name="city" id="city" rel="{$users.city}">
			            <option>请选择城市</option>
			        </select>
			        <select class="select" name="district" id="district" rel="{$users.district}">
			            <option>请选择地区</option>
			        </select>
					<input name="region" type="hidden" id="region"/>
               </td>
            </tr>
			<tr>
                <td align="right">详细地址</td>
                <td>
                    <input value="{$users.address}" class="easyui-textbox" type="text" name="address" style="width:100%;height:30px;font-size: 16px;" data-options="required:true"></input>
                </td>
            </tr>
            <tr>
                <td align="right">
                     	 头像修改:
                </td>
                <td>
                    <input id="idFile" style="width:224px" runat="server" name="pic" onchange="javascript:setImagePreview(this,localImag,preview);" type="file" />
                </td>
            </tr>
            <tr>
                <td align="right"> 预　　览:</td>
                <td>
                   <div id="localImag">
            			<img id="preview" alt="预览图片" onclick="over(preview,divImage,imgbig);" src="__PUBLIC__/img/pview.gif" style="width: 200px; height: 150px;"/>
        		   </div>
                </td>
            </tr>
            	<input type="hidden" name ="user_id" id="user_id" value="{$users.user_id}" />   
        	<tr>
            <td>
            </td>
            <td>
                <div style="text-align:left;padding:5px" class="navbar-fixed-top">
                    <a href="javascript:void(0)" id="editor" name="editor" class="easyui-linkbutton" onclick="submitForm()" type="submit">确定提交</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">清空数据</a>
                </div>
            </td>
        </tr>
        </table>
            </form>
        </div>
    </div>
    <script>
        function submitForm(){
        	$.messager.progress();
            $('#ff').form('submit', {
            	url: 'admin.php?c=member&a=memberSave',
                onSubmit: function(){
                },
            	success: function(data){
           		 	var data = eval('(' + data + ')');  // change the JSON string to javascript object   
	     	        if (data.success){
	     	        	$.messager.progress('close');	// 当成功提交之后隐藏进度条  
	     	        	alert(data.message);
		     	        $('#dg').datagrid('reload');   
	     	        	$('#tt').tabs('close','会员编辑');
	     	        } 
            	}
            });
        }
        function clearForm(){
            $('#ff').form('clear');
        }
    </script>
    <script type="text/javascript" src="__PUBLIC__/js/index.js">
    </script>
    </body>
</html>
