<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>main</title>
        <script type="text/javascript" src="__PUBLIC__/jquery.min.js"> </script>
        <script type="text/javascript" src="jquery.easyui.min.js"> </script>
		
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/themes/icon.css" />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css"/>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/themes/bootstrap/easyui.css">
    	<script type="text/javascript" src="__PUBLIC__/locale/easyui-lang-zh_CN.js"> </script>
		<script type="text/javascript" src="__PUBLIC__/js/main.js"> </script>
	</head>

<body>
	   <div class="easyui-layout" style="width:700px;height:350px;" data-options="fit:true">
        <div data-options="region:'center'" title="会员列表">
	        
        <table id="dg" class="easyui-datagrid"  sortName="itemid" sortOrder="asc"
            title="" style="width:700px;height:150px"
			data-options="fit:true,striped: true,rownumbers:true,pagination:true,url:'admin.php?c=member&a=memberList',pageSize:10,pageList:[10, 20, 30, 40, 50],method:'post',toolbar:'#tb',footer:'#ft'" fitcolumns="true">
            <thead>
                <tr>
                	<th data-options="field:'ck',checkbox:true"></th>
                    <th data-options="field:'user_id',width:50"  >
                                                                  编号
                    </th>
					<th data-options="field:'user_name',width:100">
                                                                   会员姓名
                    </th>
                    <th data-options="field:'nick_name',width:100">
                                                                   会员昵称
                    </th>
					<th data-options="field:'sex',width:60,align:'center'">
                                                                       性别
                    </th>
                    <th data-options="field:'email',width:120,align:'center'">
                                                                   邮件地址
                    </th>
                    <th data-options="field:'reg_time',width:80,align:'center'">
                                                                     注册日期
                    </th>
                    <th data-options="field:'user_rank',width:240" >
                                                                       会员等级
                    </th>
                </tr>
            </thead>
        </table>
        <div id="tb" style="padding:5px 10px;">
	            <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onClick="gridTableEdit('add')">添加</a>
	            <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onClick="gridTableEdit('edit')">编辑</a>
	            <a href="#" class="easyui-linkbutton" iconCls="icon-copy"  plain="true" onClick="gridTableEdit('copy')">复制</a>
	            <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a>
				<script type="text/javascript">
					function showNew(id){
						$('#dg').datagrid('load',{
								id: id
						}); 
					}  
				   $('#search').searchbox({
				   		width:300,   
					    searcher:function(value,name){   
							$('#dg').datagrid('load',{
								title: value
							}); 
					    },   
					    prompt:'请输入关键字'  
					}); 
					 function gridTableEdit(openType){
						 switch(openType){
							case 'edit':
								var ids = [];
								var rows = $('#dg').datagrid('getSelections');
								for(var i=0; i<rows.length; i++){
									ids.push(rows[i].user_id);
								}
								open1('admin.php?c=member&a=memberEdit&id='+ids,'会员编辑');
							break;
							case 'copy':
								var ids = [];
								var rows = $('#dg').datagrid('getSelections');
								for(var i=0; i<rows.length; i++){
									ids.push(rows[i].id);
								}
								open1('admin.php?c=member&a=memberEdit&id='+ids,'会员编辑');
							break;
							default:
								return open1('form.html','222编辑');
							break;
						}
					} 
				</script>  
            <input id="search"></input>
			 
        </div>
    
        </div>
    </div>
<script type="text/javascript" src="__PUBLIC__/js/index.js"> </script>
</body>
</html>
