<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>信息管理系统</title>
        <script type="text/javascript" src="__PUBLIC__/jquery.min.js"> </script>
        
        <script type="text/javascript" src="__PUBLIC__/jquery.easyui.min.js"> </script>
		
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/themes/icon.css" />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css"/>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/themes/bootstrap/easyui.css">
		<script type="text/javascript" src="__PUBLIC__/locale/easyui-lang-zh_CN.js"> </script>
		<script type="text/javascript" src="__PUBLIC__/js/editor/kindeditor.js"> </script>
		<script type="text/javascript" src="__PUBLIC__/js/index.js"></script>
	    <script>
        //编辑器
        var editor;
        KindEditor.ready(function (K) {
            editor = K.create('textarea[name="txtContent"]', {
                allowFileManager: true,
                resizeType: 1,
                allowPreviewEmoticons: false
            });
        });

    </script>
    </head>
    <body class="easyui-layout" style="text-align:left">
		<div id="mm" class="easyui-menu" style="width:150px;">
		     <div id="mm-reload">刷新</div>
		     <div id="mm-tabclose">关闭</div>
		     <div id="mm-tabcloseall">全部关闭</div>
		     <div id="mm-tabcloseother">除此之外全部关闭</div>
		</div>
        <div region="north" border="false" style="background:#666;text-align:center">
            <div id="header-inner">
                <table cellpadding="0" cellspacing="0" style="width:100%;">
                    <tr>
                        <td rowspan="2" style="width:20px;">
                        </td>
                        <td style="height:52px;">
                            <div style="color:#fff;font-size:22px;font-weight:bold;">
                                <a href="./main.html" style="color:#fff;font-size:22px;font-weight:bold;text-decoration:none;">信息管理系统</a>
                            </div>
                            <div style="color:#fff">
                                <a href="./main.html" style="color:#fff;text-decoration:none">信息管理系统助您成就梦想!</a>
                            </div>
                        </td>
                        <td style="padding-right:5px;text-align:right;vertical-align:top;">
                            <div id="topmenu">
                            	<a>iguan您好！您已成功登陆系统</a>
                                <a href="main.html">起始页</a>
                                <a href="">密码修改</a>
                                <a href="">系统设置</a>
                                <a href="">清除缓存</a>
                                <a href="">网站预览</a>
								<br/>
								<br/>
								<a href="main.html" class="easyui-linkbutton" iconCls="icon-reload" style="color:black">刷新</a>
                                <a href="admin.php?c=login&a=index" class="easyui-linkbutton" iconCls="icon-back" style="color:black">退出</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div region="west" split="true" title="系统菜单管理中心" style="width:250px;padding:5px;">
            <ul class="easyui-tree">
                <li iconCls="icon-base">
                    <span>系统管理</span>
                    <ul>
                        <li iconCls="icon-gears">
                            <a class="e-link" href="#" onclick="open1('admin.php?c=index&a=index','首页')">首页</a>
                        </li>
                        <li iconCls="icon-gears">
                            <a class="e-link" href="#" onclick="open1('admin.php?c=new&a=index','新闻资讯')">新闻资讯</a>
                        </li>
                        <li iconCls="icon-gears">
                            <a class="e-link" href="#" onclick="open1('list.html','编辑器')">地区列表</a>
                        </li>
                        <li iconCls="icon-gears">
                            <a class="e-link" href="#" onclick="open1('list.html','编辑器')">图片批量处理</a>
                        </li>
                    </ul>
                </li>
                <li iconCls="icon-layout">
                    <span>权限管理</span>
                    <ul>
                        <li iconCls="icon-gears">
                            <a class="e-link" href="#" onclick="open1('panel')">管理员列表</a>
                        </li>
                        <li iconCls="icon-gears">
                            <a class="e-link" href="#" onclick="open1('tabs')">角色管理</a>
                        </li>
                        <li iconCls="icon-gears">
                            <a class="e-link" href="#" onclick="open1('accordion')">管理员日志</a>
                        </li>
                    </ul>
                </li>
				   <li iconCls="icon-layout">
                    <span>广告管理</span>
                    <ul>
                        <li iconCls="icon-gears">
                            <a class="e-link" href="#" onclick="open1('panel')">广告列表</a>
                        </li>
                        <li iconCls="icon-gears">
                            <a class="e-link" href="#" onclick="open1('tabs')">广告位置</a>
                        </li>
                    </ul>
                </li>
                <li iconCls="icon-menu">
                    <span>会员管理</span>
                    <ul>
                        <li iconCls="icon-gears">
                            <a class="e-link" href="#" onclick="open1('admin.php?c=member&a=index','会员列表')">会员列表</a>
                        </li>
                        <li iconCls="icon-gears">
                            <a class="e-link" href="#" onclick="open1('linkbutton')">添加会员</a>
                        </li>
                        <li iconCls="icon-gears">
                            <a class="e-link" href="#" onclick="open1('menubutton')">会员等级</a>
                        </li>
                        <li iconCls="icon-gears">
                            <a class="e-link" href="#" onclick="open1('splitbutton')">资金管理</a>
                        </li>
                    </ul>
                </li>
                <li iconCls="icon-menu">
                    <span>文章管理</span>
                    <ul>
                        <li iconCls="icon-gears">
                            <a class="e-link" href="#" onclick="open1('menu')">文章分类</a>
                        </li>
                        <li iconCls="icon-gears">
                            <a class="e-link" href="#" onclick="open1('linkbutton')">文章列表</a>
                        </li>
                        <li iconCls="icon-gears">
                            <a class="e-link" href="#" onclick="open1('menubutton')">单页文章</a>
                        </li>
                    </ul>
                </li>
                <li iconCls="icon-menu">
                    <span>新闻资讯</span>
                    <ul>
                        <li iconCls="icon-gears">
                            <a class="e-link" href="#" onclick="open1('menu')">新闻分类</a>
                        </li>
                        <li iconCls="icon-gears">
                            <a class="e-link" href="#" onclick="open1('linkbutton')">新闻列表</a>
                        </li>
                    </ul>
                </li>
                <li iconCls="icon-menu">
                    <span>系统设置</span>
                    <ul>
                        <li iconCls="icon-gears">
                            <a class="e-link" href="#" onclick="open1('menu')">网站设置</a>
                        </li>
                        <li iconCls="icon-gears">
                            <a class="e-link" href="#" onclick="open1('linkbutton')">会员注册项设置</a>
                        </li>
                        <li iconCls="icon-gears">
                            <a class="e-link" href="#" onclick="open1('menubutton')">邮件服务器设置</a>
                        </li>
                        <li iconCls="icon-gears">
                            <a class="e-link" href="#" onclick="open1('splitbutton')">友情链接</a>
                        </li>
                        <li iconCls="icon-gears">
                            <a class="e-link" href="#" onclick="open1('splitbutton')">验证码管理</a>
                        </li>
                        <li iconCls="icon-gears">
                            <a class="e-link" href="#" onclick="open1('splitbutton')">轮播图管理</a>
                        </li>
                        <li iconCls="icon-gears">
                            <a class="e-link" href="#" onclick="open1('splitbutton')">自定义导航栏</a>
                        </li>
                        <li iconCls="icon-gears">
                            <a class="e-link" href="#" onclick="open1('splitbutton')">站点地图</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div region="center">
            <div id="tt" class="easyui-tabs" fit="true" border="false" plain="true">
                <div title="首页" href="admin.php?c=index&a=admin" width="30px" >222 </div>
					<div id="mm" class="easyui-menu" style="width:150px;">
					     <div id="mm-reload">刷新</div>
					     <div id="mm-tabclose">关闭</div>
					     <div id="mm-tabcloseall">全部关闭</div>
					     <div id="mm-tabcloseother">除此之外全部关闭</div>
					</div>
            </div>
        </div>
      
        <div data-options="region:'south',border:false" style="height:41px; line-height:40px; text-align:center;">
            Copyright © 2014 <a href="http://iguan.sinaapp.com" target="_blank">iguan工作室</a>
        </div>
        
 
	<script type="text/javascript" src="__PUBLIC__/js/main.js"> </script>
    </body>
</html>
